@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#preview {
    min-height: 66px;
    min-width: 290px;
    max-width: 290px;
    cursor: pointer;
    @include displayFlex(row);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
    border-radius: 8px;
    transition: 0.2s;
    margin: 0px 24px;
    #country-image {
        height: 66px;
        min-width: 102px;
        max-width: 102px;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    div {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
#preview:hover {
    box-shadow: 0 0 0 2px $main-color,0 3px 8px 0 rgba(0,0,0,0.15);
}