@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#welcome {
    display: flex;
    align-items: center;
    width: 100%;
    #cover {
        height: 470px;
        min-width: 696px;
        background-position: center;
        background-size: cover;
        background-image: url(https://images.unsplash.com/photo-1572511443032-a3cfe6823872?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
    }
    #intro {
        width: 50%;
        padding: 0px 116px;
        font-family: $header-font;
        h1 {
            font-size: 56px;
        }
        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
        }
        #nearby-btn {
            @include homepage-btn(252px);
        }
        #nearby-btn:hover {
            cursor: pointer;
            border: 2px solid #d4d4d4;
        }
    }
}

#countries {
    @include homepage-div;
    #country-preview-container {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow-x: auto;
        padding: 10px 0px;
    }
    #country-preview-container::-webkit-scrollbar {
        display: none;
    }
}

#around-the-world {
    @include homepage-div;
    button {
        @include homepage-btn(1118px);
        @include displayFlexJustify(center);
    }
    button:hover {
        cursor: pointer;
        border: 2px solid #d4d4d4;
    }
    .cities-container {
        margin: 45px 0px;
        @include displayFlexJustify(center, flex-start);
        flex-wrap: wrap;
        h4 {
            width: 1200px;
            text-align: center;
        }
    }
}
