@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


#job-salary {
    @include displayFlex(column);
    width: 100%;
    #job-salary-title {
        @include displayFlex(row);
        align-self: flex-start;
        margin-top: 50px;
        h3 {
            margin: 0px 20px 0px 0px;
        }
        select {
            font-family: $header-font;
            padding: 5px;
            border: 1px solid #cacaca;
            border-radius: 5px;
        }
    }
    #salary {
        border: 1px solid #cacaca;
        margin: 50px 0px;
        border-radius: 4px;
        padding: 50px;
        width: 50%;
        height: 100px;
        @include displayFlexJustify(center, center, column);
        text-align: center;
        font-weight: 200;
        h1 {
            margin-bottom: 25px;
        }
    }
}