@import "../../styles/variables.scss";
@import '../../styles/mixins.scss';

#city-preview {
    margin: 0px 20px 40px 20px;
    #image {
        height: 232px;
        width: 348px;
        border-radius: 8px;
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
    #data {
        @include displayFlexJustify(space-between, flex-start);
        width: 100%;
        margin-top: 10px;
        #names {
            #link {
                @include links(black);
            }
            h3 {
                @include preview-title();
            }
            h3:hover {
                cursor: pointer;
                background: $main-color;
            }
            span {
                @include country-span;
            }
            span:hover {
                cursor: pointer;
                background: $main-color;
            }
        }
    }
}
