@mixin displayFlex($flex-direction) {
    display: flex;
    align-items: center;
    flex-direction: $flex-direction;
}

@mixin displayFlexJustify($justify) {
    @include displayFlex(row);
    justify-content: $justify;
}

@mixin header-button($border-bottom-color) {
    font-family: $header-font;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    width: 90px;
    margin: 0px 8px;
    padding: 0px 8px;
    text-align: center;
    cursor: pointer;
    @include displayFlexJustify(center);
    border-bottom: 4px solid $border-bottom-color;
}
